AJPhotoPickerExample/AJPhotoPickerExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AJPhotoPickerExample/AJPhotoPickerExample.xcodeproj/xcuserdata/alienjunx.xcuserdatad/xcschemes/AJPhotoPickerExample.xcscheme
AJPhotoPickerExample/AJPhotoPickerExample.xcodeproj/xcuserdata/alienjunx.xcuserdatad/xcschemes/xcschememanagement.plist
